{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Services We Offer</h2>
        <ul>
            {% for service in services %}
                <li>
                    <a href="{% url 'service_profiles' service.id %}">{{ service.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
